<app-navbar></app-navbar>
<div class="container mt-5 p-2">
    <button type="button" class="btn btn-info" [routerLink]="['/ajouter']">
        AjouterTodo
    </button>
    <div class="row">
        <div class="col">
            <h3>Todo List</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="todoList.length==0" class="alert alert-warning">
                <!--directive-->
                Aucune Todo Trouvé
            </div>
            <table *ngIf="todoList.length>0" class="table">
                <!--directive-->
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Date d'ajout</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todoList ">
                        <!--directive -->
                        <td>{{todo.id}}</td>
                        <td> {{ todo.description}}</td>
                        <td>{{ todo.dateAjout}}</td>
                        <td>{{todo.etat}}</td>
                        <td>
                            <button class="btn btn-success" (click)="done()">Terminer</button>
                            <button class="btn btn-warning mx-3" [routerLink]="['/modifier',todo._id]">Modifier</button>
                            <button class="btn btn-danger" (click)="delete()">Supprimer</button>
                            <!--evenement onClick -->
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h3>Done List</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="doneList.length==0" class="alert alert-warning">
                <!--directive-->
                Aucune Done Trouvé
            </div>
            <table *ngIf="doneList.length>0" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>description</th>
                        <th>date ajout</th>
                        <th>date fin</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let done of doneList  ,let j=index">
                        <th>{{done.id}}</th>
                        <td>{{done.description}}</td>
                        <td>{{done.dateAjout}}</td>
                        <td>{{done.dateFin}}</td>
                        <td>{{done.etat}}</td>
                        <td>

                            <button class="btn btn-danger" (click)="deleteDone(j)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


<app-footer></app-footer>